body{
    margin: 0;
    height: 200vh;
    font-family: Designer;
    cursor: auto;
    background-color: #7D766A;
}
#bodyJ{
    height: fit-content;
    scroll-behavior: smooth;
}
:root{
    --color1: #b8a68a;
    --color2: #7D766A;
    --color3: #E3BC7D;
    --color4: #4A4030;
    --color5: #332817;
}
@font-face {
    font-family: Designer;
    src: url('../font/Designer.otf');
}
#map{
    height: 100vh;
    width: 100vw;
}
#sidebar{
    position: fixed;
    float: left;
    height: 35vh;
    width: 15vw;
    top: 30%;
    border: 1px solid solid;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: black;
    color: white;
    text-align: center;
    transform: translateX(-138px);
    z-index: 20;
}
#sidebar > h3{
    width: 80%;
    cursor: pointer;
    position: relative;
    z-index: 12;
}
.element > img{
    width: 8vw;
    position: relative;
    left: 37%;
    bottom: 5%;
}
.element > h3{
    position: relative;
    text-align: center;

}
#sIN{
    animation: sidebarGoesIn .5s ease-in-out 1;
}
#sOut{
    animation: sidebarGoesin .5s ease-in-out 1;
}
#sidebarButton{
    position: relative;
    float: right;
    bottom: 58%;
    width: 3vw;
    height: 8vh;
    transform: rotateY(180deg);
    cursor: pointer;
    z-index: 12;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: relative;
    justify-items: center;
    gap: 2vh;
}
.element{
    position: relative;
    font-size: 24px;
    align-self: center;
    z-index: 5;
    border: 1px black solid;
    padding: 1%;
    width: 90%;
    height: 40vh;
    cursor: pointer;
    display: flex;
    flex-flow: column;
}
#container{
    position: fixed;
    display: none;
    left: 10%;
    top: 15%;
    width: 80vw;
    height: 70vh;
    z-index: 100;
}
#setCountry, #setMonth{
    padding: 1%;
    cursor: pointer;
    user-select: none;
    background-color: black;
    color: white;
    text-shadow:
    0 0 14px var(--color5),
    0 0 13px var(--color5),
    0 0 11px var(--color4),
    0 0 10px var(--color4),
    0 0 8px var(--color2),
    0 0 7px var(--color2),
    0 0 5px var(--color1),
    0 0 4px var(--color1),
    0 0 2px var(--color3),
    0 0 1px var(--color3);
    border: 0.2em rgb(40, 40, 40) solid;
    border-radius: 0.5em;
    width: 12vw;
    height: 7.5vh;
}
#setCountry{
    position: relative;
    right: 3%;
}
#sec{
    width: 19vw;
}
#fir{
    width: 13vw;
}
#setCountry:focus,
#setCountry:focus-within {
    cursor: pointer; 
}
#incredient:checked{
    opacity: 0.8;
}
#incredient{
    padding: 1%;
    cursor: pointer;
}
#flex{
    display: flex;
    justify-content: space-around;
    height: 7vh;
}
#content{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
#fir, #sec{
    color: black;
    width: 19vw;
    height: 5vh;
    margin-bottom: 2%;
    margin-top: 1%;
}
#result{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 18px;
    font-style: oblique;
}
table {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td, th {
    width: 50%; 
    padding: 1%;
}
th{
    text-align: center;
}
tr {
    width: 100%;
    background-color:indianred;
    color: rgb(51, 23, 23);
}
table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
}
#result > label{
    position: relative;
    left: 3vw;
}
.anychart-credits-text, .anychart-credits-logo{
    display: none;
}
#container2{
    position: relative;
    left: 10%;
    width: 80vw;
    height: 70vh;
    z-index: 11;
}
.animSelected{
    animation: selectColor 1s ease-in 3;
}
#mode{
    display: none;
    margin: 1%;
    border: none;
    border-bottom: 1px solid black;
    cursor: text;
    font-size: 18px;
    background-color: var(--color2);
}
#mode:focus{
    outline: none;
    font-style: italic;
}
#sliderSelect{
    margin: 1%;
    padding: 1%;
    display: flex;
}
#sliderSelect > label{
    padding: 1%;
}
#search, #boxes{
    padding: 1%;
    cursor: pointer;
}
#info{
    text-align: center;
}
.explanationBox{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color5);
    color: var(--color1);
    border: 1px solid var(--color2);
    border-radius: 1em;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 20vh;
    margin-top: 5%;
    margin-bottom: 5%;
}
#insideCont{
    display: none;
    width: 50vw;
    height: fit-content;
    min-height: 50vh;
    z-index: 5;
    background-color: var(--color4);
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 25%;
    top: 25%;
    text-align: center;
    color: var(--color3);
}
#insideCont > h3{
    padding: 1%;
}
#txte{
    font-size: 14px;
}
#clos{
    display: none;
    width: 100%;
    height: 53.5rem;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0%;
}
@keyframes selectColor {
    0%{
        background-color: var(--color2);
    }
    50%{
        background-color: var(--color3);
    }
    100%{
        background-color: var(--color2);
    }
}