body{
    margin: 0;
    height: 200vh;
}
#map{
    height: 100vh;
    width: 100vw;
}
#sidebar{
    position: fixed;
    float: left;
    height: 35vh;
    width: 15vw;
    top: 30%;
    border: 1px solid solid;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: black;
    color: white;
    text-align: center;
    transform: translateX(-138px);
}
#sidebar > h3{
    width: 80%;
    cursor: pointer;
}
#element > img{
    width: 5vw;
}
#sIN{
    animation: sidebarGoesIn .5s ease-in-out 1;
}
#sOut{
    animation: sidebarGoesin .5s ease-in-out 1;
}
#sidebarButton{
    position: relative;
    float: right;
    bottom: 58%;
    width: 3vw;
    height: 8vh;
    transform: rotateY(180deg);
    cursor: pointer;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#element{
    position: relative;
}
@keyframes sidebarGoesIn {
    0%{
        transform: translateX(-138px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes sidebarGoesOut {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-138px);
    }
}